.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
.env
.env.*
!.env.example
*.log
tests/
docker-compose*.yml
Dockerfile*
README.md
*.md
.editorconfig
phpunit.xml
cspell.json
